annotated-types==0.5.0
anyio==3.7.1
asgiref==3.4.1
asttokens==2.2.1
autopep8==1.5.7
backcall==0.2.0
certifi==2023.7.22
cffi==1.15.1
chardet==3.0.4
click==8.1.7
colorama==0.4.6
comm==0.1.3
crispy-bootstrap3==2022.1
crispy-bootstrap4==2022.1
cryptography==41.0.3
debugpy==1.6.7
decorator==5.1.1
distlib==0.3.6
dj-database-url==2.0.0
Django==3.2.7
django-ckeditor==6.7.0
django-cors-headers==3.8.0
django-crispy-forms==2.0
django-environ==0.10.0
django-etc==1.4.0
django-heroku==0.3.1
django-hitcount==1.3.5
django-js-asset==2.1.0
django-resized==1.0.2
django-taggit==4.0.0
django-tinymce==3.6.1
djangorestframework==3.12.4
env==0.1.0
executing==1.2.0
fastapi==0.101.1
filelock==3.12.2
googletrans==4.0.0rc1
gunicorn==21.2.0
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2023.1.1
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
ipykernel==6.22.0
ipython==8.12.0
jedi==0.18.2
Jinja2==3.1.2
joblib==1.3.2
jupyter_client==8.2.0
jupyter_core==5.3.0
keyboard==0.13.5
MarkupSafe==2.1.3
matplotlib-inline==0.1.6
mpmath==1.3.0
nest-asyncio==1.5.6
networkx==3.1
nltk==3.8.1
packaging==23.1
parso==0.8.3
pickleshare==0.7.5
Pillow==9.5.0
platformdirs==3.2.0
prompt-toolkit==3.0.38
psutil==5.9.5
psycopg2==2.9.6
pure-eval==0.2.2
pycodestyle==2.7.0
pycparser==2.21
pydantic==2.3.0
pydantic_core==2.6.3
pygame==2.4.0
Pygments==2.15.1
python-dateutil==2.8.2
python-decouple==3.8
pytz==2021.1
pywin32==306
pyzmq==25.0.2
regex==2023.8.8
rfc3986==1.5.0
six==1.16.0
sniffio==1.3.0
sqlparse==0.4.2
stack-data==0.6.2
starlette==0.27.0
sympy==1.12
termcolor==2.3.0
termcolors==0.1.0
toml==0.10.2
tornado==6.3.1
tqdm==4.66.1
traitlets==5.9.0
typing_extensions==4.7.1
tzdata==2023.3
uvicorn==0.23.2
virtualenv==20.23.0
wcwidth==0.2.6
whitenoise==6.5.0
