{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<style>
    .center-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 90vh;
    }

    .signup-form {
        max-width: 400px;
        padding: 20px;
        border-radius: 5px;
        background-color: #3f4156;
        border-collapse:separate; 
        border-spacing: 0 10px;
    }

    .signup-button {
        margin-top: 20px;
        background-color: var(--color-main);
        cursor: pointer;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 1rem;
    }
    input{
        background-color: var(--color-dark-medium);
        border: none;
        color: #ffffff;
        border-radius: 3px;
        padding: 5px;
    }
    textarea {
        background-color: var(--color-dark-medium);
        border: none;
        color: #ffffff;
        border-radius: 3px;
        
    }
</style>

<div class="center-form">
    <table class="signup-form">
        <tr>
            <td colspan="2">
                <h2>Create An Account</h2>
            </td>
        </tr>
        <form method="POST" action="." enctype="multipart/form-data">
            {% csrf_token %}
            <tr>
                <td>{{ user_form.username.label_tag }}</td>
                <td>{{ user_form.username }}</td>
                {{ user_form.password1.errors }}
            </tr>
            <tr>
                <td>{{ user_form.password1.label_tag }}</td>
                <td>{{ user_form.password1 }}</td>
            </tr>
            <tr>
                <td>{{ user_form.password2.label_tag }}</td>
                <td>{{ user_form.password2 }}</td>
                {{ user_form.password2.errors }}
            </tr>
            <tr>
                <td>{{ author_form.fullname.label_tag }}</td>
                <td>{{ author_form.fullname }}</td>
            </tr>
            <tr>
                <td>{{ author_form.bio.label_tag }}</td>
                <td>{{ author_form.bio }}</td>
            </tr>
            <tr>
                <td>{{ author_form.email.label_tag }}</td>
                <td>{{ author_form.email }}</td>
            </tr>
            <tr>
                <td>{{ author_form.profile_pic.label_tag }}</td>
                <td>{{ author_form.profile_pic }}</td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Signup" class="signup-button">
                    <br> <br>
                    <a href="{% url 'signin' %}">Already have (an) account(s)?</a>
                </td>
            </tr>
        </form>
    </table>
</div>

{% endblock content %}