{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div id="user-info">

    <div id="user-pic">
        <img id="pic" src="{{author.profile_pic.url}}" alt="" width="128" height="128">
    </div>

    <div id="user-name">
        <p id="uname">{{author.fullname}}</p>
    </div>

    <div id="user-bio">
        <p>{{ author.bio }}</p>
    </div>

</div>
<div id="user-stats">
    <p><strong>Stats:</strong></p>
    <ul>
        <li><strong>Posts:</strong> {{ user_post_count }}</li>
        <li><strong>Comment:</strong> {{ user_comment_count }}</li>
        <li><strong>Reply:</strong> {{ user_response_count }}</li>
    </ul>
</div>

<div id="user-posts">
    <p><strong>Posts:</strong></p>
    <ul>
        {% for post in user_posts %}
            <li><a href="{% url 'detail' post.slug %}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
</div>

<!--<h1 style="text-align:center; margin-block:50px; color:white;">Full Name : {{author.fullname}}</h1>

<img src="{{author.profile_pic.url}}" alt="" style="display: block; margin-left: auto; margin-right: auto;">

<h1 style="text-align:center; margin-block:50px; color:white;">Bio : {{author.bio}}</h1>

<h1 style="text-align:center; margin-block:50px; color:white;">email : {{author.email}}</h1>-->


{% endblock content %}