/* ########################################### */
/*                 Global                      */
/* ########################################### */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
:root {
    --color-main: #71c6dd;
    --color-main-light: #e1f6fb;
    --color-dark: #3f4156;
    --color-dark-medium: #51546e;
    --color-dark-light: #696d97;
    --color-light: #e5e5e5;
    --color-gray: #8b8b8b;
    --color-light-gray: #b2bdbd;
    --color-bg: #2d2d39;
    --color-success: #5dd693;
    --color-error: #fc4b0b;
  }

*{
    box-sizing: border-box;
}



html{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    background-color:var(--color-bg);
    color:var(--color-light-gray);
    scroll-behavior: smooth;
}

a{
    display: inline-block;
    color: var(--color-main);
    text-decoration: none;
}

h1{
    font-size:16px;
    font-weight: bolder;
}

div {
    display: block;
}



.container > .category {
    flex-basis: 18%;
    max-width: 22.5rem;
}

/* search box */



/* search box end */


/* category full */

.cate_full {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    text-align: center;
}

.cate {
    max-width: 60%;
    padding: 10px;
    border-radius: 5px;
    background-color: #3f4156;
    border-collapse:separate; 
    border-spacing: 0 10px;
}

ul.topic {
    list-style-type: none;
    padding: 0;
}

/* category full end  */

/* edit comment pop up */
div[class^='editcomment-overlay'], div[class*=' editcomment-overlay']{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000; 
}

div[class^='editcomment-content'], div[class*=' editcomment-content']{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    z-index: 1001;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    width: 80%; 
}

div[class^='editcomment-content'] button[type="submit"], div[class*=' editcomment-content'] button[type="submit"],div[class^='editcomment-content'] button.close, div[class*=' editcomment-content'] button.close{
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

div[class^='editcomment-content'] textarea, div[class*=' editcomment-content'] textarea{
    overflow: auto;
    width: 100%;
    height: 200px;
    padding: 10px;
}


/* edit comment pop up end*/

/* edit reply pop up */

div[class^='editreply-overlay'], div[class*=' editreply-overlay']{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000; 
}

div[class^='editreply-content'], div[class*=' editreply-content']{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    z-index: 1001;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    width: 80%; 
}

div[class^='editreply-content'] button[type="submit"], div[class*=' editreply-content'] button[type="submit"],div[class^='editreply-content'] button.close, div[class*=' editreply-content'] button.close{
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

div[class^='editreply-content'] textarea, div[class*=' editreply-content'] textarea{
    overflow: auto;
    width: 100%;
    height: 200px;
    padding: 10px;
}

/* edit reply pop up end*/

/*user info*/

#user-info {
    text-align:center;
    margin-top: 20px;
    width: 100%;
}



#pic {
    border: 3px solid;
    border-radius: 1rem;
    background-color: var(--color-dark-light);
    margin-top: 20px;
}

#user-name {
    font-size: 20px;

}

#user-stats{
    width: 50%;
    margin: auto;
}

#user-posts{
    width: 50%;
    margin: auto;
}

/*user info end*/

/*topics*/

.topics li a {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
    font-weight: 500;
    color: var(--color-light-gray);
    transition: all 0.3s ease-in-out;
  }

.topics li a span {
    padding: 0.5rem 1rem;
    background-color: var(--color-dark);
    border-radius: 3px;
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: 1px;
  }
.topics li a.active,
.topics li a:hover {
    color: var(--color-main);
  }  

/*topics end*/


/*fixed button*/
.fixed-button {
    position: fixed;
    bottom: 5px;
    left: 5px; 
    z-index: 1000; 
}

.fixed-button a {
    text-decoration: none;
}

.fixed-button i {
    font-size: 24px; 
    color: #333; 
    background-color: #fff; 
    border-radius: 50%;
    padding: 10px; 
}

.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 9999;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-dark);
    border-radius: 1rem;
    padding: 20px;
    z-index: 10000;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.popup-content button.close-popup {
    background-color: var(--color-dark-medium);
    border-radius: 5rem;
    color: #fff;
    padding: 10px 20px;
    border: none;
    top: 5px; 
    right: 5px;
    cursor: pointer;
    position: absolute;
}

.toggle-language {
    margin-bottom: 20px;
    background-color: var(--color-dark-light);
    cursor: pointer;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 1rem;
}

.translate-button {
    margin-top: 20px;
    background-color: var(--color-main);
    cursor: pointer;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 1rem;
}

.source-text {
    background-color: var(--color-dark-medium);
    cursor: pointer;
    padding: 10px 20px;
    color: #fff;
    border: none;
    border-radius: 1rem;
    resize: none;
}

.translated-text{
    background-color: var(--color-dark-medium);
    cursor: pointer;
    padding: 10px 20px;
    color: #fff;
    border: none;
    border-radius: 1rem;
    resize: none;
}
/*fixed button end*/
#collum2 {
    width: 45%;
}

.container > .forum-info{
    flex-basis: 20%;
    background-color: var(--color-dark);
    border-radius: 1rem;
    padding: 1.5rem;
}

#searching {
    align-items: center;
    
}

.info-bottom-right {
    position: absolute;
    background-color: var(--color-dark-medium);
    bottom: 0;
    right: 0;
    margin: 5px;
    padding: 0.7rem;
    border-radius: 5rem;
}

.desktop-category {
    display: block;
  }
  
.mobile-category {
    display: none;
  }

.header {
    background-color: var(--color-dark);
    position: relative;
}

#finding{
    background-color: var(--color-dark-medium);
    border: 0px;
    border-radius: 0.5rem;
    
}

.btn {
    background-color: transparent;
    border: none;
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    padding: 1rem 2rem;
    border-radius: 5px;
    font-weight: 30;
  }

.btn--main {
    background-color: var(--color-main);
    color: var(--color-dark);
}

.bottom{
    display: flex;
    background-color: var(--color-dark);
    padding: 10px;
    position: relative;
    margin-bottom: 2.4rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.dropdown {
    display: inline-block;
    position: relative;
    right: 0;
}

.dropdown-options {
    display: none;
    position: absolute;
    overflow: auto;
}

.fa-user-circle {
    scale: 200%;
    margin-right: 50px;
    margin-bottom: 15px;
}
  
.dropdown:hover .dropdown-options {
    display: block;
    pointer-events: auto;
}

.myforum {
    margin-left: 0;
}

#iconnav, #logo {
    display:inline;
}

#ava {
    border-radius: 25px;
    width: 50px;
    height: 50px;
    border: solid var(--color-dark-medium);
    margin-right: 20px ;
    
}
/* ########################################### */
/*           Forums.html                       */
/* ########################################### */
.container{
    margin: auto;
    max-width: 120rem;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 2.4rem;
}

.round-button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background-color: var(--color-dark);
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    border: solid 1px var(--color-gray);
  }

.round-button:hover {
    background-color: #999;
}

.triangle-up {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid rgb(255, 255, 255);
    display: inline-block;
    position: relative;
    top: -1px;
  }

.triangle-down {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 5px solid transparent;
    border-top: 8px solid rgb(255, 255, 255);
    display: inline-block;
    position: relative;
    top: 0px;
  }

.subforum{
    margin-top:20px;
}

.subforum-title{
    background-color: var(--color-dark);
    padding: 5px;
    border-radius: 1rem;
    margin:4px;
}

.subforum-row{
    display: grid;
    grid-template-columns: 7% 60% 13% 20%;
}

.subforum-column{
    padding: 15px;
    margin:4px;

}

.subforum-description *{
    margin-block: 0;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.subforum-icon i{
    font-size: 45px;
}

.subforum-devider{
    display: none;   
}

/* For the smartphones */
@media screen and (max-width: 460px) {
    /*.container{
        margin: 20px;
        padding: 10px;
    }*/

    .subforum-row{
        display: grid;
        grid-template-columns: 25% 75%;
        grid-template-rows: 65% 35%;
    }

    .subforum-devider{
        display: block;
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(190, 190, 190, 0), rgba(255, 255, 255, 0.75), rgba(190, 190, 190, 0));
    }

    .forum-info {
        display: none;
    }
    
    .desktop-category {
        display: none;
        
      }
      
    .mobile-category {
        display: block;
      }
    
    #collum2 {
        flex-basis: 100%;
      }
    
    #logo {
        display:none;
    }

    #createpost {
        font-size:10px;
    }
  }

/* For the tablets */

@media screen and (min-width: 460px) and (max-width: 1024px) {
    .container{
        margin: 15px;
        padding: 15px;
    }

    .subforum-row{
        display: grid;
        grid-template-columns: 10% 60% 10% 20%;
    }

    .subforum-icon i{
        font-size: 35px;
    }

    html{
        font-size: 14px;
    }

    h1{
        font-size: 16px;
    }

    .forum-info {
        display: none;
    }

    

    #collum2 {
        flex-basis: 70%;
    }

  }
/*   Header Section    */

  /* Nav Bar styles */
.navbar{
    display:flex;
    align-items: center;
    background-color: var(--color-dark);
    justify-content: space-between;
}
.navigation{
    background-color:#3f4156;
    padding: 10px;
    width: 40%;
    display: inline-block;
    border-radius: 5px;
    max-height: 80px;
    margin-right:10px;
}

.close-icon i{
    font-size:60px;
    float: left;
    cursor: pointer;
}

.nav-list{
    display: flex;
    list-style-type:none;
    overflow: none;
}

.nav-item a{
    display: inline-block;
    text-align: center;
    margin-inline: 10px;
    font-size: 20px;
    padding: 10px;
    color:#fff;
}

.nav-item a:hover{
    background-color: rgb(0,0,0,0.1);
}

.hide{
    display: none;
}

.bar-icon{
    font-size: 30px;
    display: inline-block;
    margin-right:10px;
    margin-left: 10px;
    color: #fff;
    cursor: pointer;
}

@font-face {
    font-family:aquire;
    src:url(aquire.otf);
}

.brand {
    font-size:30px;
    display: inline-block;
    font-family:aquire;
}

/*Navbar for the smartphones*/
@media screen and (max-width: 460px){
    .navigation{
        max-height: auto;
    }
    
    .close-icon i{
        font-size:20px;
    }
    
    .nav-item a{
        float:left;
        display:inline;
        margin-inline: 3px;
        font-size: 10px;
        padding: 5px;
    }
    
    
    .bar-icon{
        font-size: 20px;
    }
 
    .brand{
        display: none;
    }
    #searching {
        scale: 70%;
        
    }

    #searching form {
        width: 50%;
        max-width: 150px;
        margin: 0 auto;
        
    }

    #collum2 {
        width: auto;
    }
}

  /* Search Box styles */
.search-box{
    padding-top: 10px;
    display:flex;
    justify-content: center;
}

.search-box select{
    padding: 10px;
}

.search-box input{
    padding: 10px;
}

.search-box button{
    padding: 10px;
    background-color:#fff;
    color:#000000;
}

.search-box button:hover{
    background-color: #000000;
    color: #fff;
}

/* search box for smrtphones */
@media screen and (max-width: 460px){
    .search-box input, .search-box button, .search-box select{
        min-width: 50px;
        margin-top: 5px;
    }    

}

.chart{
    font-size:20px;
    font-weight:bold;
}
/* Footer Styling */

footer{
    margin-top: 20px;
    padding: 20px;
    background-color:  #52057b;
    display: block;
    text-align: center;
}

/* ########################################### */
/*            posts.html                       */
/* ########################################### */

/* posts table's head  */
.table-head{
    display: flex;
    background-color: var(--color-dark-light);
    border-radius: 1rem;
    margin-bottom: 10px;
}

.table-head div{
    padding: 5px;
    margin: 2px;
    background-color: --color-dark-light;
    font-weight: bold;
    
}

.table-head .status{
    flex: 5%;
}

.table-head .subjects{
    flex: 70%;
}

.table-head .replies{
    flex: 10%;
}

.table-head .last-reply{
    flex: 15%;
}

/* posts table's body  */

.table-row{
    display: flex;
}

.table-row .status, .table-row .subjects, .table-row .replies, .table-row .last-reply{
    padding: 5px;
    margin: 2px;
    background-color: var(--color-dark);
    border-radius: 1rem;
}

.table-row .status{
    flex: 5%;
    font-size: 30px;
    text-align: center;
}

.table-row .subjects{
    flex: 70%;
}

.table-row .replies{
    flex: 10%;
}

.table-row .last-reply{
    flex: 15%;
}

/* navigation path*/
.navigate{
    margin-block: 20px;
    font-weight: lighter;
    font-size: 24px;
}

.navigate a{
    color: #fff;
}

.navigate a:hover{
    color:#FF0042;
    font-weight: bolder;
}

/* Pagination*/

.pagination{
    padding: 0px 20px 20px 20px;
    font-size: 15px;
}

.pagination a{
    color: var(--color-light-gray);
    margin-inline: 5px;
    padding: 5px 10px;
    border: solid 0.5px var(--color-light-gray);
    border-radius: 0.5rem;
}

.pagination a:hover{
    opacity: 0.5;
}

.note{
    background-color:#111314;
    padding: 20px;
    display: block;
}

.note span{
    font-size: 20px;
    margin-block: 5px;
}


/* ########################################### */
/*            detail.html                      */
/* ########################################### */

.head{
    display: flex;
    background-color: var(--color-dark-light);
    padding: 10px;
    font-weight: bold;
    font-size: 15px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.authors{
    flex: 20%;
}

.content{
    flex: 80%;
    
}

.body{
    display: flex;
    background-color: var(--color-dark);
    padding: 10px;
    position: relative;
}

.body .authors .username{
    font-size: 20px;
}

.body .authors img{
    max-width: 50px;
    max-height: 80px;
}

.body .content .comment button{
    border:none;
    padding:10px;
    font-weight: bolder;
    box-shadow: 4px 6px #fff;
    cursor: pointer;
    float: right;
}

body {
    margin:0px;
    background-color: var(--color-bg);
}
/* comment section */
.comment-area{
    margin-bottom:50px;
}

.comment-area textarea{
    width: 100%;
    min-height: 100px;
    padding: 10px;
    margin-block: 10px;
}

.comment-area input{
    float: right;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.comment-area input:hover{
    border: solid 1px #000000;
}








