{% extends "base.html" %}

{% block content %}
<style>
  .center-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh;
}

.post-form {
    max-width: 60%;
    padding: 20px;
    border-radius: 5px;
    border-collapse:separate; 
    border-spacing: 0 10px;
}
</style>
  <div class="center-form">
    <table class="post-form">

      <h2>Create new category</h2>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
      <button type="submit">Create</button>

    </table>
  </div>
{% endblock %}