{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

{% if user.is_authenticated %}

<style>
    .center-form {
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }

    .delete-form {
        max-width: 400px;
        padding: 20px;
        border-radius: 5px;
        background-color: #3f4156;
        text-align: center;
    }

    .form-label {
        font-weight: bold;
    }

    .delete-button {
        margin-top: 20px;
        background-color: #dc3545;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        
    }

    .back-link {
        margin-top: 10px;
        display: block;
        text-align: center;
    }
</style>


<div class="center-form">
    <form method="POST" action="{% url 'delete_post' post_id=post_id %}" class="delete-form">
        {% csrf_token %}
        <strong class="form-label">Are you sure you want to delete that post?</strong>
        <button type="submit" class="delete-button">Delete</button>
        <a href="{{ request.META.HTTP_REFERER }}" class="back-link">Back</a>
    </form>
</div>

{% endif %}
{% endblock content %}